<!DOCTYPE html>
<html>
    <head>
        <title>Getir Records</title>
    </head>
    <body>
        <form action="/getrecords" method="post">
        <!-- user input-->
        StartDate:<br>
        <input type="date" name="StartDate" placeholder="Date" required><br>
        EndDate:<br>
        <input type="date" name="EndDate" placeholder="Date" required><br>
        MinCount:<br>
        <input type="number" name="MinCount" placeholder="number" required><br>
        MaxCount:<br>
        <input type="number" name="MinCount" placeholder="number" required><br>
        <!--submit button-->
        <input type="submit" value="records">
        </form>
    </body>
</html>